<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/dashboard/layout}" lang="en">
<head>
    <title>Update Event</title>
</head>
<div layout:fragment="container" class="container-fluid">
    <h1>SALAM</h1>
    <div>
        <form action="/admin/statistics/update" method="post" enctype="multipart/form-data">
            <input type="hidden" th:value="${statistics.id}" name="id" />

            <div class="form-group">
                <input th:value="${statistics.name}"  class="form-control" type="text" placeholder="name" name="name" />
            </div>

            <input type="submit" value="Update" class="btn btn-success" />
        </form>
    </div>
</div>
</html>