<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/dashboard/layout}" lang="en">
<head>
    <title>About</title>
</head>
<div layout:fragment="container" class="container-fluid">
    <a href="/admin/why-us/why-us-create" class="btn btn-primary btn-sm">Adding Card data</a>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Subtitle</th>
            <th scope="col">Icon</th>
            <th scope="col">isMainCard</th>
            <th scope="col">Edit</th>
        </tr>
        </thead>
        <tbody th:each="cards : ${cards}">
        <tr>
            <th scope="row" th:text="${cards.id}">3</th>
            <td th:text="${cards.title}">Larry</td>
            <td th:text="${cards.subTitle}">the Bird</td>
            <td th:text="${cards.icon}">@twitter</td>
            <td th:text="${cards.isMain} ? 'Main Card' : 'Other Card'"></td>
            <td>
                <a th:href="'/admin/why-us/why-us-edit/'+${cards.id}" class="btn btn-outline-warning" ><i class="fa-solid fa-pen-to-square"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</html>