<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/dashboard/layout}" lang="en">
<head>
    <title>Category Create</title>
</head>
<div layout:fragment="container" class="container-fluid">
    <h1>SALAM</h1>
    <div>
        <form action="/admin/product/update" method="post" enctype="multipart/form-data">
            <input type="hidden" th:value="${product.id}" name="id" />

            <div class="form-group">
                <input th:value="${product.name}"  class="form-control" type="text" placeholder="Name" name="name" />
            </div>
            <div class="form-group">
                <input th:value="${product.ingredient}"  class="form-control" type="text" placeholder="Ingredients" name="ingredient" />
            </div>
            <div class="form-group">
                <input th:value="${product.price}"  class="form-control" type="number" placeholder="Price" name="price" />
            </div>
            <div class="form-group">
                <input class="form-control" type="file" placeholder="photoUrl" name="photoFile" />
            </div>
            <div class="form-group">
                <select name="categoryId"  class="form-control" >
                    <option th:selected="${product.categoryId}==${category.id}" th:each="category : ${categories}" th:text="${category.name}" th:value="${category.id}"></option>
                </select>
            </div>
            <input type="submit" value="Update" class="btn btn-success" />
        </form>
    </div>
</div>
</html>