<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{dashboard/layout}" lang="en">
<head>
    <title>About</title>
</head>
<div layout:fragment="container" class="container-fluid">
    <a href="/admin/about/about-create" class="btn btn-primary btn-sm">Adding data</a>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Video url</th>
            <th scope="col">Photo</th>
            <th scope="col">Edit</th>
        </tr>
        </thead>
        <tbody th:each="about : ${about}">
        <tr>
            <th scope="row" th:text="${about.id}">3</th>
            <td th:text="${about.title}">Larry</td>
            <td th:text="${about.description}">the Bird</td>
            <td th:text="${about.videoUrl}">@twitter</td>
            <td>
                <img width="100" height="100" th:src="@{'/uploads/' + ${about.photoUrl}}" alt="photo"/>
            </td>
            <td>
                <a th:href="'/admin/about/about-edit/'+${about.id}" class="btn btn-outline-warning" ><i class="fa-solid fa-pen-to-square"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</html>