<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{dashboard/layout}" lang="en">
<head>
    <title>Editing About Section</title>
</head>
<div layout:fragment="container" class="container-fluid">
    <h1>SALAM</h1>
    <div>
        <form action="/admin/contact/update" method="post" enctype="multipart/form-data">
            <input type="hidden" th:value="${contact.id}" name="id" />

            <div class="form-group">
                <input th:value="${contact.location}"  class="form-control" type="text" placeholder="Location" name="location" />
            </div>
            <div class="form-group">
                <input th:value="${contact.address}"  class="form-control" type="text" placeholder="Address" name="address" />
            </div>
            <div class="form-group">
                <input th:value="${contact.phone}" class="form-control" type="text" placeholder="Phone" name="phone" />
            </div>
            <div class="form-group">
                <input th:value="${contact.email}" class="form-control" type="text" placeholder="Email" name="email" />
            </div>
            <div class="form-group">
                <input th:value="${contact.openingHour}" class="form-control" type="text" placeholder="Opening House" name="openingHour" />
            </div>
            <div class="form-group">
                <input th:value="${contact.xLink}"  class="form-control" type="text" placeholder="Twitter Link" name="xLink" />
            </div>
            <div class="form-group">
                <input th:value="${contact.facebookLink}" class="form-control" type="text" placeholder="Facebook Link" name="facebookLink" />
            </div>
            <div class="form-group">
                <input th:value="${contact.instagramLink}" class="form-control" type="text" placeholder="Instagram Link" name="instagramLink" />
            </div>
            <div class="form-group">
                <input th:value="${contact.linkedinLink}" class="form-control" type="text" placeholder="Linkedin Link" name="linkedinLink" />
            </div>


            <input type="submit" value="Update" class="btn btn-warning" />
        </form>
    </div>
</div>
</html>