<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/dashboard/layout}" lang="en">
<head>
    <title>Create Gallery element</title>
</head>
<div layout:fragment="container" class="container-fluid">
    <h1>SALAM</h1>
    <div>
        <form action="/admin/gallery/create" method="post" enctype="multipart/form-data">
            <div class="form-group">
            <div class="form-group">
                <input class="form-control" type="file" placeholder="photoUrl" name="photoFile" />
            </div>

            <input type="submit" value="Create" class="btn btn-success" />
        </form>
    </div>
</div>
</html>