<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/dashboard/layout}" lang="en">
<head>
  <title>Category</title>
</head>
<div layout:fragment="container" class="container-fluid">
  <a href="/admin/hero/hero-create" class="btn btn-primary btn-sm">Create hero</a>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Subtitle</th>
      <th scope="col">Video url</th>
      <th scope="col">Photo</th>
      <th scope="col">Edit</th>
    </tr>
    </thead>
    <tbody th:each="hero : ${hero}">
      <tr>
          <th scope="row" th:text="${hero.id}">3</th>
          <td th:text="${hero.title}">Larry</td>
          <td th:text="${hero.subTitle}">the Bird</td>
          <td th:text="${hero.videoUrl}">@twitter</td>
          <td>
           <img width="100" height="100" th:src="@{'/uploads/' + ${hero.photoUrl}}" alt="photo"/>
          </td>
          <td>
            <a th:href="'/admin/hero/hero-edit/'+${hero.id}" class="btn btn-outline-warning" ><i class="fa-solid fa-pen-to-square"></i></a>
          </td>
    </tr>
    </tbody>
  </table>
</div>
</html>