<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">

    <title>Adminlər</title>

    <link th:href="@{/admin/css/sb-admin-2.min.css}"
          rel="stylesheet">

</head>

<body>

<div class="container mt-5">

    <div class="d-flex justify-content-between mb-3">

        <h3>İstifadəçilər</h3>

        <a th:href="@{/admin/users/create}"
           class="btn btn-primary">

            Yeni istifadəçi

        </a>

    </div>


    <div class="card shadow">

        <div class="card-body">

            <table class="table">

                <thead>

                <tr>
                    <th>ID</th>
                    <th>Ad Soyad</th>
                    <th>Username</th>
                    <th>Role</th>
                    <th>Status</th>
                    <th></th>
                </tr>

                </thead>


                <tbody>

                <tr th:each="admin : ${admins}">

                    <td th:text="${admin.id}"></td>

                    <td th:text="${admin.fullName}"></td>

                    <td th:text="${admin.username}"></td>

                    <td th:text="${admin.role}"></td>

                    <td>

                        <span
                                th:if="${admin.enabled}"
                                class="badge badge-success">

                            Active

                        </span>

                        <span
                                th:unless="${admin.enabled}"
                                class="badge badge-danger">

                            Disabled

                        </span>

                    </td>

                    <td>

                        <a
                                th:href="@{/admin/users/delete/{id}(id=${admin.id})}"
                                class="btn btn-danger btn-sm">

                            Sil

                        </a>

                    </td>

                </tr>

                </tbody>

            </table>

        </div>

    </div>

</div>

</body>
</html>